/* nav 바 부분 css*/
* {
  font-family: 'Pretendard', sans-serif;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  position: fixed;
  top: 0;
  background-color: #1e1e1e;
  width: 100%;
  z-index: 999;
  color: #f9f8f4;
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
  left: 0;
}

.NavContainer {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

a:link {
  color: #f9f8f4;
}

a:visited {
  color: #f9f8f4;
}

a:hover {
  color: #f9f8f4;
}

a:active {
  color: #f9f8f4
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 56px;
}

.nav-topics {
  display: flex;
  gap: 40px;
}

button {
  cursor: pointer;
  all: unset;
}

button:hover {
  cursor: pointer;
}

.PrimaryButton {
  display: inline-block;
  background-color: black;
  border-radius: 2px;
  /* 너비와 높이가 같으므로 50%로 설정하면 동그라미 모양이 됩니다 */
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  padding: 10px 25px;
}

.PrimaryButton:hover {
  background-color: #696969;
  transition: transform 0.8s, background-color 0.3s;
  color: #ffffff;
}

.logout-button:hover {
  color: rgb(255, 162, 162);
  transition: transform 0.8s, color 0.3s;
}

.row-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Container1 {
  position: absolute;
  top: 104px;
  height: 416px;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/*아래에서부터 미수정 (상단박스) 부분*/

.first-post-box {
  background-color: #1e1e1e;
  height: 520px;
  color: #fff;
  font-family: 'Pretendard', sans-serif;

}

.first-post-box h3 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.first-post-box p {
  font-weight: 300;
  margin-bottom: 10px;
}

.first-post-box .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 415px;
}

.first-post-box .container .post-info-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  gap: 8px;
  position: absolute;
  color: #fff;
  z-index: 1;
  height: auto;
  width: 40%;
  line-height: 2;
}

.first-post-box button {
  background-color: #3a3a3a;
  color: #f9f8f4;
  border-radius: 2px;
  padding: 8px 18px;
  width: fit-content;
  font-size: 14px
}

.first-post-box button:hover {
  background-color: #474747;
  transition: transform 0.8s;
}

.first-post-box .container .thumbnail-img {
  opacity: 0.3;
  height: -webkit-fill-available;
}

.first-post-box .container .thumbnail-img img {
  object-fit: cover;
  min-width: 600px;
  min-height: -webkit-fill-available;
  width: 100%;
  height: 100%;
}