<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
{% load timetemplates %}
{% load extract_first_image_url %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/navfooter.css" %}">
    <link href="
        https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css
        " rel="stylesheet">
</head>

<body>
    <header>
        <div class="NavContainer">
            <div class="NavBar">   
                <a href="/"><img src="{% static "img/Group 1.png" %}"></a>
                <div class='nav-buttons'>
                    <a href='/post_list/일상'>일상</a>
                    <a href='/post_list/요리'>요리</a>
                    <a href='/post_list/여행'>여행</a>
                    <a href='/post_list/영화'>영화</a>
                    <a href='/post_list/IT'>IT</a>
                    {% if user.is_authenticated %}
                        <a href="/logout"><button class='PrimaryButton'>Logout</button></a>
                        <a href="/posting"><button class='PrimaryButton'>Just Write!</button></a>
                    {% else %}
                        <a href="/login"><button class='PrimaryButton'>Login</button></a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        
        <article class="Container1">
            {% autoescape off %}
            <div class="container">
                {% if representpost %}
                    <div class="PostInfoBox">
                        <h3 class="Maintitle">{{ representpost.title|truncatechars:10 }}</h3>
                        <p class="MaintitleSub">{{ representpost.content|striptags|linebreaksbr|safe|truncatechars:100 }}</p>
                        <a href="/post/{{ representpost.id }}"><button class="ReadMoreBtn">READ MORE</button></a>
                    </div>
                    <div></div>
                    <div class="ThumbnailImg">
                        {% if representpost.image %}
                            <img src="{{ representpost.image.url }}">
                        {% elif representpost.content|extract_first_image_url %}
                            <img src="{{ representpost.content|extract_first_image_url }}">
                        {% else %}
                            <img src="{% static "img/기본이미지.jpg" %}">
                        {% endif %}
                    </div>
                {% else %}
                <h1 style="font-size:46px; margin-top:10px">작성된 글이 없어요. 새 글을 작성해보세요.</h1>
                {% endif %}
            </div>
            {% endautoescape %}
        </article>
        
    </header>

    <main>
        {% autoescape off %}
        <select id="sort-select" onchange="location = this.value;">
            <option class="sort-recently" value="?sort=recently" {% if sort == 'recently' %}selected{% endif %}>최신순</option>
            <option class="sort-views" value="?sort=views" {% if sort == 'views' %}selected{% endif %}>인기순</option>
        </select>
        <div class="container">
            
            {% for post in page_posts %}
            <div class="card">
                <a href='/post/{{ post.id }}'>
                    <div class="card-thumbnail-img">
                        {% if post.image %}
                            <img src="{{ post.image.url }}">
                        {% elif post.content|extract_first_image_url %}
                            <img src="{{ post.content|extract_first_image_url }}">
                        {% else %}
                            <img src="{% static "img/기본이미지.jpg" %}">
                        {% endif %}
                    </div>
                    <div class="CardInfoBox">
                        <p> {{ post.published_date|custom_timesince }}</p>
                        <h3>{{ post.title|truncatechars:14 }}</h3>
                        <p class="SubInfo">{{ post.content|striptags|linebreaksbr|safe|truncatechars:100 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_posts.has_previous %}
                    <a href="?page=1" style="color: black;">&laquo;</a>
                {% endif %}
                {% for i in page_posts.paginator.page_range %}
                    {% if i == page_posts.number %}
                        <a class="selected" href="?page={{ i }}">{{ i }}</a>
                    {% else %}
                        <a style="color : black" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_posts.has_next %}
                    <a href="?page={{ page_posts.paginator.num_pages }}" style="color: black;">&raquo;</a>
                {% endif %}
            </span>
        </div>
        </form>
        {% endautoescape %}
        
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>Made by<span> Dojo</span></p>
        </div>
    </footer>

</body>

</html>