<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <!-- <link rel="stylesheet" href="{% static 'nav_bar.css' %}"> -->
</head>

<body>
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <img src="../static/img/Group 1.png">
                <a href="">일상</a>
                <a href="">요리</a>
                <a href="">여행</a>
                <a href="">영화</a>
                <a href="">IT</a>
                <button class='PrimaryButton'>Login</button>
            </div>
        </div>
        <article class="Container1">
            <div class="container">
                <div class="PostInfoBox">
                    <h3 class="Maintitle">타이틀</h3>
                    <p class="MaintitleSub">내용</p>
                    <button class="ReadMoreBtn">READ MORE</button>
                </div>
                <div></div>
                <div class="ThumbnailImg">
                    <img src="../static/img/Rectangle 8.svg">
                </div>
            </div>
        </article>
    </header>


    <main>
        <div class="container">
            <section class="card">
                <a href="해당경로 url"><img src="../static/img/Rectangle 13.png" alt=""><a>
                <div class="CardInfoBox">
                    <p>date</p>
                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
            <section class="card">
                <a href=""><img src="../static/img/Rectangle 13.png" alt=""><a>
                <div class="CardInfoBox">
                    <p>date</p>
                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
            <section class="card">
                <a href=""><img src="../static/img/Rectangle 13.png" alt=""><a>
                <div class="CardInfoBox">
                    <p>date</p>
                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="card">
                <a href=""><img src="../static/img/Rectangle 13.png" alt=""><a>
                <p>date</p>
                <div class="CardInfoBox">

                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
            <section class="card">
                <a href=""><img src="../static/img/Rectangle 13.png" alt=""><a>
                <h3>date</h3>
                <div class="CardInfoBox">

                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
            <section class="card">
                <a href=""><img src="../static/img/Rectangle 13.png" alt=""><a>
                <p>date</p>
                <div class="CardInfoBox">

                    <a href="" class="title"><h3>title</h3></a>
                    <p class="SubInfo">description</p>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Made with<span> Django</span></p>

        </div>
    </footer>

</body>

</html>