<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/navfooter.css" %}">
    <link href="
        https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css
        " rel="stylesheet">
</head>

<body>
    <header>
        <div class="NavContainer">
            <div class="NavBar">   
                <a href="/"><img src="{% static "img/Group 1.png" %}"></a>
                <div class='nav-buttons'>
                    <a href="">일상</a>
                    <a href="">요리</a>
                    <a href="">여행</a>
                    <a href="">영화</a>
                    <a href="">IT</a>
                    {% if user.is_authenticated %}
                        <a href="logout"><button class='PrimaryButton'>Logout</button></a>
                        <a href="posting"><button class='PrimaryButton'>Just Write!</button></a>
                    {% else %}
                        <a href="login"><button class='PrimaryButton'>Login</button></a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <article class="Container1">
            {% autoescape off %}
            <div class="container">
                <div class="PostInfoBox">
                    <h3 class="Maintitle">{{ representpost.title }}</h3>
                    <p class="MaintitleSub">{{ representpost.content|linebreaksbr|safe|truncatechars:100 }}</p>
                    <a href="post/{{ representpost.id }}"><button class="ReadMoreBtn">READ MORE</button></a>
                </div>
                <div></div>
                <div class="ThumbnailImg">
                    {% if representpost.image %}
                        <img src="{{ representpost.image.url }}">
                    {% else %}
                        <img src="{% static "img/기본이미지.jpg" %}">
                    {% endif %}
                    
                </div>
            </div>
            {% endautoescape %}
        </article>
    </header>

    <main>
        {% autoescape off %}
        <div class="container">
            {% for post in page_posts %}
                <div class="card">
                    <a href='post/{{ post.id }}'>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-thumbnail-img">
                        {% else %}
                            <img src="{% static "img/기본이미지.jpg" %}" class="card-thumbnail-img">
                        {% endif %}
                        <div class="CardInfoBox">
                            <p> {{ post.published_date }}</p>
                            <h3>{{ post.title }}</h3>
                            <p class="SubInfo">{{ post.content|linebreaksbr|safe|truncatechars:100 }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_posts.has_previous %}
                        <a href="?page=1" style="color: black;">&laquo; first</a>
                        <a href="?page={{ page_posts.previous_page_number }}" style="color: black;">previous</a>
                    {% endif %}
                    {% if page_posts.has_next %}
                        <a href="?page={{ page_posts.next_page_number }}" style="color: black;">next</a>
                        <a href="?page={{ page_posts.paginator.num_pages }}" style="color: black;">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <span class="current-page">
                Page {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}.
            </span>
    
        </div>
        {% endautoescape %}
        
    </main>
    
    <footer class="footer">
        <div class="container">
            <p>Made with<span> Django</span></p>
        </div>
    </footer>

</body>

</html>