<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
{% load timetemplates %}
{% load extract_first_image_url %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="icon" href="{% static "img/favicon(sushi).png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/navfooter2.css' %}">
    <link href="
        https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css
        " rel="stylesheet">
</head>

<body>
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <a href="/"><img src="{% static 'img/logo(white).svg' %}"></a>
                <a href='/post_list/일상'>일상</a>
                <a href='/post_list/요리'>요리</a>
                <a href='/post_list/여행'>여행</a>
                <a href='/post_list/영화'>영화</a>
                <a href='/post_list/IT'>IT</a>
                {% if user.is_authenticated %}
                    <a href="/logout"><button class='logout-button'>Logout</button></a>
                    <a href="/posting/"><button class='PrimaryButton'>Just Write!</button></a>
                {% else %}
                    <a href="/login"><button class='PrimaryButton'>Login</button></a>
                {% endif %}
            </div>
        </div>
    </header>

    {% block contents %}
    <main>
        {% comment %} 본문 들어감 {% endcomment %}
        <div class="container">
            <div class="box-divider">
                <div class="big-box ">
                    <div class="post-info">
                        <h5>{{ post.published_date|custom_timesince }} | {{ post.view_count }} views</h5>
                        <h1 id='h1title'>{{ post.title }}</h1>
                        <h5>by {{ post.author }}</h5>
                        <h5 class="topic-box">{{ post.topic }}</h5>
                    </div>
                    <div class="post-content">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" width="500" height="400">
                        {% endif %}
                        <p> {{ post.content|safe }}</p>
                    </div>
                </div>
            {% comment %} 추천 글 영역 {% endcomment %}
            <div class="small-box">
                <div>
                  <h3>Other posts</br>you may like</h3>
                  {% for recommended_post in recommended_posts %}
                    <div class="recommend-box">
                      <a href='/post/{{ recommended_post.id }}'>
                        {% if recommended_post.image %}
                            <img src="{{ recommended_post.image.url }}">
                        {% elif recommended_post.content|extract_first_image_url %}
                            <img src="{{ recommended_post.content|extract_first_image_url }}">
                        {% else %}
                            <img src="{% static "img/기본이미지.jpg" %}">
                        {% endif %}
                        <p>{{ recommended_post.title|truncatechars:14 }}</p>
                      </a>
                    </div>
                    
                  {% endfor %}
                </div>
            </div>
        </div>

            <div class="button-box">
                {% if user.is_authenticated %}
                <div class="box-divider" style="gap: 10px">
                    {% comment %} 수정버튼 {% endcomment %}
                    <a href="{% url 'blogapp:edit_post' post_id=post.id %}">
                        <button class="edit-button">수정하기</button>
                    </a>
                    {% comment %} 삭제버튼 {% endcomment %}
                    <button class="delete-button" data-post-id="{{ post.id }}">삭제하기</button>
                </div>
                {% endif %}
                <button class='share-button' onclick='copyUrl()'>공유하기</button>
            </div>
            {% if next_post %}
            <div class="another-post-box">
                <div class="post-box">
                  <div>다음글</div>
                  <div class="post-name">
                    <a href='/post/{{ next_post.id }}'
                      >{{ next_post.title|truncatechars:25 }}</a>
                  </div>
                </div>
                <p>{{ next_post.published_date|custom_timesince }}</p>
              </div>
              {% else %}
              <div class="another-post-box"></div>
              {% endif %}

            {% if previous_post %}
            <div class="another-post-box">
                <div class="post-box">
                  <div>이전글</div>
                  <div class="post-name">
                    <a href='/post/{{ previous_post.id }}'> {{ previous_post.title|truncatechars:25 }} </a>
                  </div>
                </div>
                <p> {{ previous_post.published_date|custom_timesince }} </p>
            </div>
            {% else %}
            <div class="another-post-box"></div>
            {% endif %}
        </div>
        {% endblock contents %}

    </main>

    <footer class="footer">
        <div class="container">
            <p>Made by<span> Dojo</span></p>
        </div>
    </footer>
</body>
<script>
    // 삭제 버튼 클릭 시 AJAX 요청 보내는 코드
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', () => {
            const postId = button.getAttribute('data-post-id');
            if (confirm('정말로 삭제하시겠습니까?')) {
                fetch(`/delete-post/${postId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/';
                        } else {
                            alert('삭제에 실패했습니다.');
                        }
                    });
            }
        });
    });

    // CSRF 토큰을 가져오는 함수
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    //공유하기 버튼
    let nowUrl = window.location.href;
    function copyUrl(){ 
    //nowUrl 변수에 담긴 주소를
        navigator.clipboard.writeText(nowUrl).then(res=>{
        alert("주소가 복사되었습니다!");
        })
}
</script>

</html>