<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/navfooter.css">
    <link rel="stylesheet" href="../static/css/site_2.css">
</head>

<body>
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <img src="../static/img/Group 1.png">
                <a href="">일상</a>
                <a href="">요리</a>
                <a href="">여행</a>
                <a href="">영화</a>
                <a href="">IT</a>
                <button class='PrimaryButton'>Login</button>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="box-divider">
            <div class="big-box ">
                <div class="post-info">
                    <h5>2015.12.12</h5>
                    <h1>TITLE</h1>
                    <h5>username</h5>
                    <div class="topic-box">tag</div>
                    <div class="post-content">
                        <p>Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                            aliquam pellentesque.
                            Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id
                            purus
                            feugiat et mi justo scelerisque euismod euismod.</p>
                        <img src="../static/img/Rectangle 13.png" alt=""></img>
                        <p class=>Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                            aliquam
                            pellentesque.
                            Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id
                            purus
                            feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus
                            dolor luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.</p>
                    </div>
                </div>

            </div>
            <div class="small-box">
                <div class="another-post-box">
                    <h3 class="post-name">Other posts
                        you may like</h3>
                    <div class="post-box">
                        <img src="../static/img/Rectangle 13.png" alt="">
                        <h3>Lorem ipsum dolor</h3>
                    </div>
                    <div class="post-box">
                        <img src="../static/img/Rectangle 13.png" alt="">
                        <h3>Lorem ipsum dolor</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-box">
            <div>
                <button class="edit-button">수정하기</button>
                <button class="delete-button">삭제하기</button>
            </div>
            <button class="share-button">공유하기</button>
        </div>
        <div class="recommend-box">
            <div class="recommend-divider">
                <div class="recommend-divider2">
                    <a>이전글</a>
                    <a>글의 제목입니다</a>
                </div>
                <h5>2123.12.11</h5>
            </div>
            <div class="recommend-divider">
                <div class="recommend-divider2">
                    <a>다음글</a>
                    <a>글의 제목입니다</a>
                </div>
                <h5>2123.12.11</h5>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>Made with<span> Django</span></p>
        </div>
    </footer>
</body>

</html>