/* nav 바 부분 css*/
* {
  font-family: 'Pretendard', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 
.Container1 {
  position: absolute;
  top: 104px;
  height: 416px;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
} */

/*아래에서부터 상단박스 부분*/

.Container1 {
  /* position: absolute; */
  top: 104px;
  height: 560px;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Pretendard', sans-serif;
  padding: 0px;
}



.Container1 h3 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.Container1 p {
  font-weight: 300;
  margin-bottom: 10px;
}

.Container1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 415px;
  width: 900px;
}

.Container1 .container .PostInfoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  gap: 8px;
  position: absolute;
  color: #fff;
  z-index: 1;
  height: auto;
  width: 40%;
  line-height: 2;
}

.Container1 button {
  background-color: #3a3a3a;
  color: #f9f8f4;
  border-radius: 2px;
  padding: 8px 18px;
  width: fit-content;
  font-size: 14px
}

.Container1 button:hover {
  background-color: #474747;
  transition: transform 0.8s;
}

.Container1 .container .ThumbnailImg {
  opacity: 0.3;
  height: -webkit-fill-available;
}

.Container1 .container .ThumbnailImg img {
  object-fit: cover;
  min-width: 600px;
  min-height: -webkit-fill-available;
  width: 100%;
  height: 100%;
}

/* 아래부터 main css*/
main {
  display: flex;
  /* position: absolute; */
  top: 620px;
  height: 800px;
  left: 0;
  width: 100%;
  display: flex;
  font-family: 'Pretendard', sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.container{
  width: 1024px;
  margin: auto;
  margin-top: 40px;  
  display: flex;
  gap: 38px; 
  flex-wrap: wrap;
}

.card{
  width: calc((100% - (2 * 38px)) / 3); 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card:hover {
  transform: scale(1.01);
  /* Slightly scale the card */
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  /* Add shadow */
  background-color: #f5f5f5;
  /* Change background color */
  transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
}


.CardInfoBox {
  display: flex;
  flex-direction: column;
  height: 160px;
  color: #1e1e1e;
  font-family: 'Pretendard', sans-serif;
  /* margin-bottom: 40px; */
}


h3 {
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.CardInfoBox h3 {
  font-size: 20px;
  font-weight: 700;
}

.CardInfoBox p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.SubInfo {
  color: #7c7c7c;
  display: flex;
  margin-top : 10px;
  gap: 20px;
  font-size: 15px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #111;
}

.card-thumbnail-img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.card-thumbnail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*footer 부분 css*/
.footer {
  width: 100%;
  background-color: #e7e3da;
  height: 200px;
  display: flex;
  justify-content: end;
  font-family: 'Pretendard', sans-serif;
  /* position: absolute; */
  margin-top: 150px;
  align-items: self-end;
}


.footer .container {
  align-items: self-end;
  display: flex;
  margin: 0;
  margin-right: 100px;
  width: auto;
}

.footer .container p {
  color: #1e1e1e;
  justify-content: end;
}

span {
  font-weight: bold;
}

.title {
  text-decoration: none;
  color: inherit;
}

.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 50px 2px;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  text-align: center;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .current-page {
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}


.pagination a.selected {
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  background-color: #353535;
  border: 1px solid #353535;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

#sort-select {
  margin-left : 20px;
  margin-top : 5px;
}