<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <a class="Logo">MYLOG</a>
                <a href="">일상</a>
                <a href="">요리</a>
                <a href="">여행</a>
                <a href="">영화</a>
                <a href="">IT</a>
                <button class='PrimaryButton'>Login</button>
            </div>
        </div>
        <article class="Container1">
            <h2 class="Maintitle">타이틀</h2>
            <div class="MaintitleSub">내용</div>
            <button class="ReadMoreBtn">READ MORE</button>
            <div class="MainThumbnail"></div>
        </article>
    </header>
    <main>
        <section class="article_1">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
        <section class="article_2">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
        <section class="article_3">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
        <section class="article_4">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
        <section class="article_5">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
        <section class="article_6">
            <div>thumbnail</div>
            <div>date</div>
            <div>title</div>
            <div>description</div>
        </section>
    </main>   
    <footer>
        <p>Made with Django</p>
    </footer> 
</body>
</html>