<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <a class="Logo">MYLOG</a>
                <a href="">일상</a>
                <a href="">요리</a>
                <a href="">여행</a>
                <a href="">영화</a>
                <a href="">IT</a>
                <button class='PrimaryButton'>Login</button>
            </div>
        </div>
    </header>  
    <main>
        <article>
            <!--글 작성한것이 이곳에-->
        </article>
        <section class="side_post">
            <p>Other post you may like</p>
            <div class="side_post_1"></div>
            <div class="side_post_2"></div>
        </section>
    </main>
</body>
</html>